.fale {
    color: rgb(80, 12, 12);
    background-color: rgb(119, 115, 115);
    text-align: center;
    padding: 30px;
    margin: 0px;

}

.esse {
    color: rgb(216, 48, 188);
    background-color: rgb(173, 170, 170);
}