body{
    margin: 0px;
    padding: 0px;
    
}


#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(63, 3, 3);
    background-color: rgb(222, 184, 135);
    padding: 1px;


}

.titulo2{ 
color: rgb(109, 50, 165);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal{
background-color: rgb(230, 196, 153);
padding: 30px;
margin: 0px;

}
.beneficios{
    color: rgb(230, 196, 153);
    
}
