body{
    margin: 0px;
    padding: 0px;
    
}


#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgb(63, 3, 3);
    background-color: rgb(222, 184, 135);
    padding: 1px;


}

.titulo2{ 
color: rgb(63, 3, 3);
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.principal{
    color: rgb(63, 3, 3);
background-color: rgb(230, 196, 153);
padding: 30px;
margin: 0px;

}
.beneficios{
    color: rgb(63, 3, 3);
   background-color: rgb(230, 196, 153);
    margin: 0%;
}

ul{

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 22px;
    line-height: 1.5;
}

.itens{ /*ITENS DA LISTA - CADA BOLHA*/
    font-style: italic;
}

.imagembeneficios{ /*IMAGEM DO HOMEM BARBUDO*/
    width: 40%;
}
